<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Credit Decision Engine</title>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/popper.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.1.2/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>

    <script src="../lib/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/maptalks@0.41.1/dist/maptalks.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/deck.gl@7.1.11/dist.min.js"></script>
    <!-- <script type="text/javascript" src="../lib/maptalks-deckgllayer.min.js"></script> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/maptalks@0.41.1/dist/maptalks.css">
    <link rel="stylesheet" href="../css/cde_stylesheet.css">

</head>

<body style='background-color: #30373F'>
    <div class='wrapper'>
        <nav id='sidebar'>
            <!-- Side navigation -->

            <div class='spacegiver'> </div>
            <div class='spacegiver'> </div>
            <div class='spacegiver'> </div>
            <div class='spacegiver'> </div>
            <div class='spacegiver'> </div>

            <div>
                <select class='inlineForm' id="product" name="product"
                    onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
                    <option value="">Choose a Product</option>
                    <option value="unsecured">Unsecured Loan</option>
                    <option value="bnpl">Buy Now Pay Later</option>
                    <option value="payday">Payday Loan</option>
                </select>
            </div>

            <div class='spacegiver'></div>

            <div>
                <script type="text/javascript" language="JavaScript">
                    document.write('<select name="pdmodel" id="pdmodel" class ="inlineForm"><option value="">Choose a PD Model</option></select>')
                </script>
                <noscript>
                    <select id="pdmodel" name="pdmodel">
                        <option value="version1">Unsecured Loan PD Version 1</option>
                        <option value="version1.5">Unsecured Loan PD Version 1.5</option>
                        <option value="version2">Unsecured Loan PD Version 2</option>
                    </select>
                </noscript>
            </div>

            <!-- <div class='spacegiver'></div> -->
            <div id='product_config'>
                <table class='center roundedCorners'>
                    <caption>Product Configuration</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Minimum</th>
                            <th>Maximum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Term (Months)</td>
                            <td><input class = 'prodConfigInput' type="number" id="minTerm" value="3" min="1" max = '36' /></td>
                            <td><input class = 'prodConfigInput' type="number" id="maxTerm" value="36" min="1" max = '36'/></td>
                        </tr>
                        <tr>
                            <td>Loan Amount</td>
                            <td><input class = 'prodConfigInput' type="number" id="minLA" value="2000" min="500" max = '10000' step="500"/></td>
                            <td><input class = 'prodConfigInput' type="number" id="maxLA" value="10000" min="500" max = '10000' step="500"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='spacegiver'></div>
            <label>
                <p>Limit Control Factor</p>
            </label>
            <input class = 'prodConfigInput' type='number' id = 'lc_factor' value='1' min = "-1" max = "1" step ='0.1'> 


            <div id='limit_control' style='height:170px'></div>
            <div class='spacegiver'></div>

            <label>
                <p>Target APR</p>
            </label>
            <!-- <select class='inlineForm' onchange="showDiv(this)">
                <option value="0" selected> 25%</option>
                <option value="1">50%</option>
                <option value="2">75%</option>
                <option value="3">100%</option>
                <option value="4">125%</option>
                <option value="5">150%</option>
                <option value="6">175%</option>
                <option value="7">200%</option>
            </select> -->
            <input class = 'prodConfigInput' type='number' id = 'targetAPR' value='1' min = "0.1" max = "2" step ='0.1'> 
            <div></div>
            <label>
                <p>Target Expected Profit </p>
            </label>
            <!-- <select class='inlineForm' onchange="showDiv(this)">
                <option value="0" selected> 25%</option>
                <option value="1">50%</option>
                <option value="2">75%</option>
                <option value="3">100%</option>
                <option value="4">125%</option>
                <option value="5">150%</option>
                <option value="6">175%</option>
                <option value="7">200%</option>
            </select> -->
            <input class = 'prodConfigInput' type='number' id = 'targetProfit' value='1' min = "0.1" max = "2" step ='0.1'> 

            <button class='btn' style="background-color: #5470C6; color: #ffffff"> Run Hypothesis  </button>
        </nav>
        <div id='content'>
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #292929;">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <!-- <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button> -->

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class='active'>
                            <a class="nav-link" href="#"><span class="mb-0 h6">Credit Decision Engine</span></a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mb-0 h6">Data Exploration</span><span class="arrow arrow-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="payday_data_exploration.html#single_variate">Single
                                    Variate Analysis</a>
                                <a class="dropdown-item" href="payday_data_exploration.html#payday_iv">Information
                                    Value</a>
                                <a class="dropdown-item" href="payday_data_exploration.html#parallel_full">Quantitative
                                    Filter</a>
                        </li>
                        <li class="nav-item dropdown nav-item active">
                            <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mb-0 h6">PD Model</span><span class="arrow arrow-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="payday_pd_model.html#payday_gini">Gini Model</a>
                                <a class="dropdown-item" href="payday_pd_model.html#binomial">Binomial Test</a>
                                <a class="dropdown-item" href="payday_pd_model.html#kstesting">KS Testing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mb-0 h6">Portfolio Reporting</span><span class="arrow arrow-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="payday_portfolio_reporting.html#dayPastDue">Day Past
                                    Due</a>
                        </li> -->
                    </ul>
                </div>
            </nav>

            <!-- Start main content here  -->
            <div class='container-fluid'>

                <p style='color:#ffffff'> Sample Loan Application</p>
                <div class='row' style='height:13em'>
                    <div class='col-sm'>
                        <div class='fakegraph'>
                            
                            <table class='center roundedCorners'>
                                <p class='tableName'> Customer Information</p>
                                <tbody>
                                    <tr>
                                        <td style='border-top:none'>Customer ID</td>
                                        <td style='border-top:none'>12345</td>
                                    </tr>
                                    <tr>
                                        <td>Loan Purpose</td>
                                        <td>Debt Consolidation</td>
                                    </tr>
                                    <tr>
                                        <td>FICO Score</td>
                                        <td>680</td>
                                    </tr>
                                    <tr>
                                        <td>Total Credit Lines</td>
                                        <td>12</td>
                                    </tr>
                                    <tr>
                                        <td>Residence Status</td>
                                        <td>Own</td>
                                    </tr>
                                    <tr>
                                        <td>Income</td>
                                        <td>5500</td>
                                    </tr>
                                    <tr>
                                        <td>Loan Service Ratio</td>
                                        <td>0.11</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class='col-sm'>
                        <div class='fakegraph'>
                            <table class='center roundedCorners'>
                                <p class='tableName'> Credit Decision Table</p>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Proposed</th>
                                        <th>Optimum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Loan Amount</td>
                                        <td>8800</td>
                                        <td>8800</td>
                                    </tr>
                                    <tr>
                                        <td>Term</td>
                                        <td>12</td>
                                        <td>14</td>
                                    </tr>
                                    <tr>
                                        <td>Profit</td>
                                        <td>135</td>
                                        <td>140</td>
                                    </tr>
                                    <tr>
                                        <td>Profit %</td>
                                        <td>1.7%</td>
                                        <td>1.7%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class='spacegiver'></div>

                <div class='row'>
                    <div class='col-sm'>
                        <div class='fakegraph'>
                            <button id='opt_term_fs' class='btn fs-box'><i class="fas fa-external-link-alt"></i>
                                Open</button>
                            <div id='optimum_term' style='height:310px'></div>
                        </div>
                    </div>

                    <div class='col-sm'>
                        <div class='fakegraph'>
                            <button id='ep_surface_fs' class='btn fs-box'><i class="fas fa-external-link-alt"></i>
                                Open</button>
                            <div id='ep_surface' style='height:310px'></div>
                        </div>
                    </div>

                </div>

            </div>




        </div>
    </div>




    <!-- <footer class="container-fluid bg-grey py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="logo-part">
                                <img src="../data/logo-epay.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 px-4">
                            <h6>More Information</h6>
                            <div class="row ">
                                <div class="col-md-6">
                                    <ul>
                                        <li> <a href="#"> Home</a> </li>
                                        <li> <a href="#"> About</a> </li>
                                        <li> <a href="#"> Team</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <form class="form-footer my-3">
                                <input type="text" placeholder="search here...." name="search">
                                <input type="button" value="Go">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    </footer> -->

    <!-- Script for dynamic dropdown list -->
    <script language="javascript" type="text/javascript">
        function dynamicdropdown(listindex) {
            switch (listindex) {
                case "unsecured":
                    document.getElementById("pdmodel").options[0] = new Option("Choose a PD Model", "");
                    document.getElementById("pdmodel").options[1] = new Option("Unsecured Loan PD Version 1", "version1");
                    document.getElementById("pdmodel").options[2] = new Option("Unsecured Loan PD Version 1.5", "version1.5");
                    document.getElementById("pdmodel").options[3] = new Option("Unsecured Loan PD Version 2", "version2");
                    break;
                case "payday":
                    document.getElementById("pdmodel").options[0] = new Option("Choose a PD Model", "");
                    document.getElementById("pdmodel").options[1] = new Option("Payday Loan PD Version 1", "version1");
                    document.getElementById("pdmodel").options[2] = new Option("Payday Loan PD Version 2", "version2");
                    document.getElementById("pdmodel").options[3] = new Option("Payday Loan PD Version 3", "version3");
                    break;
                case "bnpl":
                    document.getElementById("pdmodel").options[0] = new Option("Choose a PD Model", "");
                    document.getElementById("pdmodel").options[1] = new Option("Buy Now Pay Later PD Version 1", "version1");
                    document.getElementById("pdmodel").options[2] = new Option("Buy Now Pay Later PD Version 2", "version2");
                    break;
            }
            return true;
        }
    </script>


    <script src="../script/optimum_term.js"></script>
    <script src="../script/ep_surface.js"></script>
    <script src="../script/limit_control_matrix.js"></script>




</body>

</html>