<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dashboard Prototype</title>
    <script src="../lib/jquery.min.js"></script>
    <script src="../lib/popper.min.js"></script>
    <script src="../lib/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.1.2/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>

    <script src="../lib/jquery-3.5.1.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/maptalks@0.41.1/dist/maptalks.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/deck.gl@7.1.11/dist.min.js"></script>
    <script type="text/javascript" src="../lib/maptalks-deckgllayer.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/maptalks@0.41.1/dist/maptalks.css">
    <link rel="stylesheet" href="../css/stylesheet.css">

</head>

<body style='background-color: #30373F'>
    <div class='wrapper'>
        <!-- <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Dashboard Prototype</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#">Home</a>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account
                        Level</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">PD</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#dataa">Data Analysis</a>
                            </li>
                            <li>
                                <a href="#mbv">Model Build & Validation</a>
                            </li>
                            <li>
                                <a href="#mpm">Model Performance Monitoring</a>
                            </li>
                        </ul>
                        <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">EAD</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu2">
                            <li>
                                <a href="#t2d">Time to Default (T2D)</a>
                            </li>
                        </ul>
                        <li>
                            <a href="#pacogr">LGD</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Portfolio level</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Expected Loss</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu4">
                            <li>
                                <a href="#pcm">Portfolio Credit Mix</a>
                            </li>
                        </ul>
                        <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Unexpected Loss</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu5">
                            <li>
                                <a href="#wcl">Worst Case Loss - Monte Carlo Simulation </a>
                            </li>
                        </ul>
                        <a href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            Others</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu6">
                            <li>
                                <a href="#ws"> Warning Signals</a>
                            </li>
                        </ul>
                </li>
            </ul>
            </li>
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a class="login">Log In</a>
                </li>
                <li>
                    <a class="signup">Sign up</a>
                </li>
            </ul>
        </nav> -->

        <!--Nav Bar collapsible ends here-->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #292929;">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><span class="mb-0 h6">Portfolio Level</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mb-0 h6">Portfolio Credit Mix</span><span class="arrow arrow-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#pdamount">PD vs Amount</a>
                                <a class="dropdown-item" href="#riskreturn">Risk Return</a>
                                <a class="dropdown-item" href="#pricing">Pricing</a>
                                <a class="dropdown-item" href="#t2d">Time to Default</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mb-0 h6">Worst Case Loss</span><span class="arrow arrow-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="#nocorr">No Correlation</a>
                                <a class="dropdown-item" href="#basilcorr">Analytic Correlation</a>
                                <a class="dropdown-item" href="#stressedcorr">Stressed Correlation</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="mb-0 h6"> Warning Signals</span><span class="arrow arrow-down"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#daypastdue">Day Past Due</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Interactive navigation sidebar function -->
            <!-- <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $(this).toggleClass('active');
                    });
                });

                $(".panel-heading").mouseenter(function () {
                    $(".panel-collapse").fadeIn();
                });
                $(".panel-collapse").mouseleave(function () {
                    $(".panel-collapse").fadeOut();
                });
            </script> -->
            <!-- End interactive function -->

            <!-- Start main content here  -->
            <div class='container-fluid'>
                
                <select id="test" name="form_select" onchange="showDiv(this)">
                    <option value="0"> Choose an attribute</option>
                    <option value="1">Customer Type</option>
                    <option value="2">Customer ZIP</option>
                    <option value="3">Store ID</option>
                    <option value="4">Loan Amount</option>
                    <option value="5">Net Monthly Income</option>
                    <option value="6">Income Type</option>
                    <option value="7">Address Duration</option>
                    <option value="8">Income Duration</option>
                    <option value="9">Previous Loan Count</option>
                </select>

                <div id="customer_type" class = 'hidden'> 
                    <p>Customer Type</p>
                    <div id = 'dist1' style='height:200px; width:600%'></div>
                </div>
                <div id="customer_zip" class='hidden'> Customer ZIP</div>
                <div id="store_ID" class='hidden'>Store ID</div>
                <div id="loan_amount" class='hidden'>Loan Amount</div>
                <div id="monthly_income" class='hidden'> Net Monthly Income</div>
                <div id="income_type" class='hidden'> Income Type</div>
                <div id="address_duration" class='hidden'> Address Duration</div>
                <div id="income_duration" class='hidden'> Income Duration</div>
                <div id="previous_loan_count" class='hidden'> Previous Loan Count</div>

                




                <!-- Javascript interactive functions main  -->
                <script>
                    function showDiv(element) {
                        document.getElementById("customer_type").style.display = element.value == 1 ? 'block' : 'none';
                        document.getElementById("customer_zip").style.display = element.value == 2 ? 'block' : 'none';
                        document.getElementById("store_ID").style.display = element.value == 3 ? 'block' : 'none';
                        document.getElementById("loan_amount").style.display = element.value == 4 ? 'block' : 'none';
                        document.getElementById("monthly_income").style.display = element.value == 5 ? 'block' : 'none';
                        document.getElementById("income_type").style.display = element.value == 6 ? 'block' : 'none';
                        document.getElementById("address_duration").style.display = element.value == 7 ? 'block' : 'none';
                        document.getElementById("income_duration").style.display = element.value == 8 ? 'block' : 'none';
                        document.getElementById("previous_loan_count").style.display = element.value == 9 ? 'block' : 'none';

                    }
                </script>
                <!-- End JS interactive functions main -->
            </div>





        </div>

    </div>




    <footer class="container-fluid bg-grey py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="logo-part">
                                <img src="../data/logo-epay.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 px-4">
                            <h6>More Information</h6>
                            <div class="row ">
                                <div class="col-md-6">
                                    <ul>
                                        <li> <a href="#"> Home</a> </li>
                                        <li> <a href="#"> About</a> </li>
                                        <li> <a href="#"> Team</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <form class="form-footer my-3">
                                <input type="text" placeholder="search here...." name="search">
                                <input type="button" value="Go">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

    </footer>


    <script src="../script/dist1.js"></script>


    <script src="../script/RARnoLC.js"></script>
    <script src="../script/rarlc.js"></script>
    <script src="../script/APRnoLC.js"></script>
    <script src="../script/LoanPD-AR.js"></script>

    <script src="../script/t2d_graph.js"></script>
    <script src="../script/day_past_due.js"></script>

    <script src="../script/no_corr_bl.js"></script>
    <script src="../script/basil_corr_bl.js"></script>
    <script src="../script/extreme_corr_bl.js"></script>

</body>

</html>